.note_puilsh1{
    height: 60px;
    background-color: black;
}
.note_puilsh1 label{
    color: white;
    line-height: 60px;
    font-size: 30px;
    margin-left: 10px;
}
.note_puilsh2{
    margin-left: 30px;
}
.note_puilsh2 textarea{
    margin-top: 20px;
    width: 400px;
    height: 60px;
}
.note_puilsh3{
    margin-left: 30px;
    margin-top: 30px;
}
.note_puilsh4{
    margin-left: 30px;
    margin-top: 30px;
}
.note_puilsh4 textarea{
    width: 600px;
    height: 300px;
}
.note_puilsh5{
    margin-left: 30px;
    margin-top: 30px;
}
.note_puilsh6{
    margin-left: 30px;
    margin-top: 30px;
}
@media screen and (max-width: 480px) {
    .note_puilsh2 textarea{
        width: 250px;
    }
    .note_puilsh4 textarea{
        width: 250px;
    }
}